html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;
  background-color: black;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.reset-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 25px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.radar {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
  background: url("../img/board.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(83, 175, 19);
  font-size: 24px;
  color: red;
}

.grid {
  position: absolute;
  left: 173px;
  top: 99px;
  border-spacing: 0px;
  padding: 0;
  margin: 0;

}
/* .grid__tr {
  border: 3px solid white;
} */

.grid__td {
  width: 96px;
  height: 96px;
  /* border: 3px solid white; */
}

.form {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

.form__input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

.hit {
  background: url("../img/ship.png");
  background-position: center center;
  background-repeat: no-repeat;

  }

  .miss {
  background: url("../img/miss.png");
  background-position: center center;
  background-repeat: no-repeat;

  }